<form id="project_actions">

    <input type="hidden" name="project_id" value="{{ data.project }}">
    <input type="hidden" name="scene_id" value="{{ data.scene }}">




    <!-- Split Text Option -->
    <div class="mb-10">
    <div class="form-check form-switch mb-2">
        <input name="text_to_split_check" class="form-check-input" type="checkbox" id="splitTextCheck" data-bs-toggle="collapse" data-bs-target="#splitTextCollapse" checked>
        <label class="form-check-label fw-bold" for="splitTextCheck">Split Text</label>
    </div>
    <div class="collapse show" id="splitTextCollapse"> 
        <div class="rounded border d-flex flex-column mb-2">
            <textarea name="text_to_split" class="form-control kt_autosize" data-kt-autosize="true" rows="2"></textarea>
        </div>
        <div class="">
            <label class="form-label text-muted">Text Split Options:</label>
            <select  name="text_to_split_options" class="form-control" id="keywordsSelect">
                <option value="Sentence">Sentence</option>
            </select>
        </div>
    </div>
    </div>



    <!-- Get Keywords Option -->
    <div class="mb-10">

        <div class="form-check form-switch mb-2">
            <input name="get_keywords_check" class="form-check-input" type="checkbox" id="getKeywordsCheck" data-bs-toggle="collapse" data-bs-target="#keywordsCollapse" checked>
        <label class="form-check-label  fw-bold" for="getKeywordsCheck">Get Keywords</label>
    </div>
    <div class="collapse show" id="keywordsCollapse">
        <div class="mb-3">
            <label class="form-label text-muted">Keyword Options:</label>
            <select name="get_keywords_options" class="form-control" id="keywordsSelect">
                <option  value="option1">KW 1</option>
            </select>
        </div>
    </div>
    </div>

    <!-- Get Prompts Option -->
    <div class="mb-10">

        <div class="form-check form-switch mb-2">
            <input name="get_prompts_check" class="form-check-input" type="checkbox" id="getPromptsCheck" data-bs-toggle="collapse" data-bs-target="#promptsCollapse" checked>
        <label class="form-check-label  fw-bold" for="getPromptsCheck">Get Prompts</label>
    </div>
    <div class="collapse show" id="promptsCollapse">
        <div class="mb-3">
            <label class="form-label text-muted">Prompt Options:</label>

            <select name="get_keywords_options" class="form-control" id="promptsSelect">
                <option name="get_prompts_options" value="prompt1">Default</option>
            </select>
        </div>
    </div>
    </div>



    <!-- Submit Button -->
    <button type="submit" id="SubmitProjectActions" class="btn btn-primary">Submit</button>

</form>
<div id="result"></div>

<script>
$(document).ready(function () {
    $('#SubmitProjectActions').click(function (event) {
        event.preventDefault(); // Prevent form submission
        var formData = $('#project_actions').serializeArray(); // Serialize form data
        console.log(formData);

        $.ajax({
            type: 'POST',
            url: '/project_actions_form', // URL to which the request is sent

            contentType: 'application/json', // Setting content type as JSON
            data: JSON.stringify(formData), // Converting data to JSON string

            success: function (response) {
                console.log(response);
                // Initialize an empty string to hold the HTML
                var displayHtml = '';

                // Iterate through each item in the response array
                $.each(response, function (i, item) {
                    // Append a formatted string to displayHtml
                    // For better formatting, replace underscores in names with spaces and capitalize them
                    var formattedName = item.name.replace(/_/g, ' ').replace(/\b[a-z]/g, function (letter) {
                        return letter.toUpperCase();
                    });

                    // Append the formatted string to displayHtml
                    displayHtml += '<strong>' + formattedName + ':</strong> ' + item.value + '<br>';
                });

                // Set the HTML of the result div to the constructed displayHtml
                $('#result').html(displayHtml);
            },


            error: function (xhr, status, error) {
                // Handle errors here
                $('#result').html('Error: ' + error);
            }
        });

    });



});

</script>